.header {
	padding-top: 56px;
	padding-bottom: 228px;
	color: $white;
	background: url(../images/booking/hero-bg-mobile.jpg) no-repeat center / cover;

	@media (min-width: $md) {
		background: url(../images/booking/hero-bg-tablet.jpg) no-repeat center / cover;
	}

	@media (min-width: $lg) {
		background: url(../images/booking/hero-bg-desktop.jpg) no-repeat center / cover;
	}

	&__logo {
		width: 82px;
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__text {
		margin-bottom: 24px;
	}

	&__button {
		display: inline-block;
	}
}
