.pattern-divide {
	display: inline-block;
	width: 71px;
	margin-bottom: 32px;

	@media (min-width: $md) {
		margin-bottom: 36px;
	}
}

.pattern-curve {
	display: none;

	@media (min-width: $md) {
		display: block;
		position: absolute;
		width: 895px;
	}
}

.pattern-lines {
	display: none;

	@media (min-width: $md) {
		display: block;
		position: absolute;
		width: 160px;
	}
}
