.event-slider {
	position: relative;
	padding-top: 80px;
	padding-bottom: 120px;

	@media (min-width: $md) {
		padding-top: 120px;
	}

	&__menu {
		display: flex;
		flex-direction: column;

		@media (min-width: $md) {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 32px;
		}
	}

	&__menu-item {
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: rgba($slider-gray, 0.5);

		&:last-of-type {
			margin-bottom: 24px;
		}

		&--active {
			position: relative;
			color: $slider-gray;

			&::after {
				@include after-line(48px);
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
			}
		}
	}

	&__photo {
		margin-bottom: 48px;
		box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);

		@media (min-width: $md) {
			margin-bottom: 56px;
		}
	}

	&__body {
		margin-left: auto;
		margin-right: auto;

		@media (min-width: $md) {
			width: 81%;
		}
	}

	&__title {
		margin-bottom: 16px;
	}

	&__text {
		margin-bottom: 32px;
		line-height: 25px;

		@media (min-width: $md) {
			line-height: 30px;
		}
	}

	&__button {
		display: block;
		background-color: $primary-dark;

		&:hover,
		&:active {
			border: 1px solid $primary-dark;
		}
	}

	&__pattern-curve-top-right {
		@media (min-width: $md) {
			top: 0;
			right: 51%;
		}
	}

	&__pattern-lines {
		@media (min-width: $md) {
			top: 82px;
			left: -58px;
		}
	}
}
