.feature {
	&--1 {
		margin-top: -70px;

		@media (min-width: $md) {
			margin-top: -100px;
		}
	}

	&__column {
		position: relative;
	}

	&__photo {
		box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);

		&--up {
			position: relative;
			z-index: 1;
		}
	}

	&__pattern-divide {
		margin-top: 42px;

		@media (min-width: $md) {
			margin-top: 54px;
		}
	}

	&__title {
		margin-bottom: 16px;

		@media (min-width: $md) {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__text {
		margin-bottom: 80px;
		line-height: 25px;

		@media (min-width: $md) {
			width: 81%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 120px;
			line-height: 30px;
		}
	}

	&__pattern-lines {
		right: -56px;
		bottom: 56px;
	}
}
