.footer {
	font-size: 14px;
	color: $white;
	line-height: 28px;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: $primary-dark;

	&__container {
		padding: 80px 0;

		@media (min-width: $md) {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: auto;
			grid-template-areas: 'logo address' 'logo open-times';
			width: 89.6%;
			padding: 64px 0;
			text-align: left;
		}

		@media (min-width: $lg) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: 'logo address open-times';
			padding: 78px 0;
		}
	}

	&__logo {
		margin-bottom: 40px;

		@media (min-width: $md) {
			grid-area: logo;
			margin-right: 0;
			margin-left: 0;
		}
	}

	&__column {
		&--address {
			margin-bottom: 32px;

			@media (min-width: $md) {
				grid-area: address;
			}

			@media (min-width: $lg) {
				margin-bottom: 0;
			}
		}

		&--open-times {
			@media (min-width: $md) {
				grid-area: open-times;
			}
		}
	}
}
