.highlights {
	padding-top: 72px;
	padding-bottom: 72px;
	color: $white;
	background-color: $primary-dark;

	@media (min-width: $md) {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	@media (min-width: $lg) {
		padding-top: 200px;
		padding-bottom: 120px;
	}

	&__container {
		@media (min-width: $lg) {
			display: flex;
		}
	}

	&__intro {
		margin-bottom: 64px;

		@media (min-width: $md) {
			width: 82%;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: $lg) {
			flex-basis: 50%;
		}
	}

	&__title {
		margin-bottom: 16px;

		@media (min-width: $lg) {
			width: 80%;
		}
	}

	&__text {
		line-height: 25px;

		@media (min-width: $md) {
			line-height: 30px;
		}

		@media (min-width: $lg) {
			width: 85%;
		}
	}

	&__column {
		@media (min-width: $lg) {
			flex-basis: 50%;
			padding-top: 55px;
		}
	}
}

.menu-item {
	@media (min-width: $md) {
		display: flex;
		position: relative;
		margin-bottom: 24px;
		text-align: left;
		border-bottom: 1px solid rgba($white, 0.15);

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	&__graphic {
		margin-bottom: 32px;

		@media (min-width: $md) {
			flex-basis: 33%;
			margin-bottom: 0;

			&::after {
				@include after-line(32px);
				top: 18px;
				left: 128px;
			}
		}
	}

	&__photo {
		@media (min-width: $md) {
			position: relative;
			width: 128px;
		}
	}

	&__info {
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid rgba($white, 0.15);

		@media (min-width: $md) {
			flex-basis: 66%;
			margin-top: 4px;
			margin-bottom: 28px;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__title {
		margin-bottom: 4px;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0.23px;
	}

	&__text {
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.19px;
	}

	&:last-child &__info {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}
