.cta {
	background: url(../images/homepage/ready-bg-mobile.jpg) no-repeat center / cover;

	@media (min-width: $md) {
		background: url(../images/homepage/ready-bg-tablet.jpg) no-repeat center / cover;
	}

	@media (min-width: $lg) {
		background: url(../images/homepage/ready-bg-desktop.jpg) no-repeat center / cover;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 328px;
		color: $white;

		@media (min-width: $md) {
			width: 90%;
			height: 272px;
		}

		@media (min-width: $lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__title {
		margin-bottom: 24px;

		@media (min-width: $lg) {
			margin-bottom: 0;
		}
	}
}
