// Reset

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
}

// Images

img {
	display: block;
	width: 100%;
}

.logo {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

// Forms

fieldset,
input,
select {
	border: none;
}
