/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

.container {
	width: 87%;
	max-width: 1110px;
	margin: 0 auto;

	@media (min-width: $md) {
		width: 74.5%;
	}

	@media (min-width: $lg) {
		width: 100%;
	}
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}
