// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

.container {
	max-width: 1110px;
	// width: 100%;
	// padding: 0 24px;

	@media (min-width: $md) {
		// padding: 0 97px;
	}

	@media (min-width: $lg) {
		margin: 0 auto;
	}
}
